.App {
  background-color: #eaeaea;
  text-align: center;
  overflow: hidden;
}

.Page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1500px;
  margin: auto;
}

.Page-header {
  height: 60px;
  padding: 0.5em;

  display: flex;
}

.Shop-name {
  cursor: pointer;
  text-decoration: none;

  float: left;
  margin-top: auto;
  margin-bottom: auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  line-height: 30px;

  color: #101010;
}

.Cart-button {
  display: block;
    float: right;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;

  margin-left: auto;
}

.Cart-button:before {
  z-index: 100;
  content: attr(data-count);
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  width: 30px;
    height: 30px;
    line-height: 30px;
  display: block;
  border-radius: 50%;
    background: #FFA542;
  color: #FFF;
  position: absolute;
  top: -10px;
  left: auto;
  right: -10px;
}

.Cart-icon {
  width: 64px;
  height: 64px;
  position: relative;
  margin: auto;
}
.Page-footer {
  margin: 0;
  background-color: red;
  height: 60px;
  display: block;

  font-size: calc(10px + 2vmin);
  color: black;
}

.Catalog {
  flex: auto;
}

.Categories {
  margin: auto;
}

.Category {
  margin: 0.5em;
  margin-bottom: 1em;
}

.CategoryName {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  line-height: 24px;

  color: #838383;

  margin-bottom: 0.5em;

  text-align: left;
}

.GoodsGrid {
  margin: auto;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.Card {
  background-color: white;
  aspect-ratio: 35/40;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10%;

  display: block;
}

.Card>img {
  display: block;
  width: 80%;
  margin: auto;
}

.BuyButton {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.Cart {
  flex: auto;
  margin: 0.5em;
}

.CartTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  line-height: 24px;

  color: #1C1C27;

  
  text-align: left;
}