.App {
  background-color: #eaeaea;
  text-align: center;
  overflow: hidden;
}

.Page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1500px;
  margin: auto;
}

.Page-header {
  height: 60px;
  padding: 0.5em;

  display: flex;
}

.Shop-name {
  cursor: pointer;
  text-decoration: none;

  float: left;
  margin-top: auto;
  margin-bottom: auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  line-height: 30px;

  color: #101010;
}

.Cart-button {
  display: block;
  float: right;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;

  margin-left: auto;
}

.Cart-button:before {
  z-index: 100;
  content: attr(data-count);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  border-radius: 50%;
  background: #FFA542;
  color: #FFF;
  position: absolute;
  top: -10px;
  left: auto;
  right: -10px;
}

.Cart-icon {
  width: 64px;
  height: 64px;
  position: relative;
  margin: auto;
}

.Page-footer {
  display: flex;
  justify-content: space-between;

  margin: 0;
  background-color: #fff;
  height: 180px;
  border-radius: 30px 30px 0px 0px;

  font-size: calc(10px + 2vmin);
  color: black;
}

.Footer-container {
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  height: 100%;
  margin: 30px;
}

.Footer-Shop-name {
  cursor: pointer;
  text-decoration: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: calc(10px + 1vmin);
  line-height: 30px;

  color: #101010;
}

.Quick-links > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.Quick-links > ul > li {
  cursor: pointer;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 21px;

  margin-bottom: 20px;

  color: #000000;
}

.Footer-cartlink {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.LangButton {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1em;
  margin-right: 1em;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;

  color: #101010;
}

.LangButton.active {
  color: #FFA542;
}

.SocialsContainer {
  margin: 0;
  padding: 0;
}

.SocialsButton {
  cursor: pointer;

  vertical-align: top;
  margin-top: 0;
  display: inline-block;
  margin-right: 0.25em;
  height: 30px;
  width: 30px;
}

.Catalog {
  flex: auto;
}

.Categories {
  margin: auto;
}

.Category {
  margin: 0.5em;
  margin-bottom: 1em;
}

.CategoryName {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  line-height: 24px;

  color: #838383;

  margin-bottom: 0.5em;

  text-align: left;
}

.GoodsGrid {
  margin: auto;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.Card {
  background-color: white;
  aspect-ratio: 35/40;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  display: block;
}

.CardContent {
  height: 100%;
  position: relative;
  margin: 0.5em;
}

.CardImage {
  display: block;
  width: 80%;
  margin: auto;
}

.CardDescription {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.CardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.ProductName {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #1C1C27;
}

.ProductPrice {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #FFA542;
}

.ProductRate {
  display: flex;
  align-items: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #838383;
}

.RateIcon {
  /* vertical-align: middle; */
  margin-right: 5px;
  height: 17px;
  width: 17px;
}

.BuyButton {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.Cart {
  flex: auto;
  margin: 0.5em;
}

.CartTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  line-height: 24px;

  color: #1C1C27;

  
  text-align: left;
}

.CartContainer {
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  height: 100%;

  margin-bottom: 0.5em;
}

.CartItem {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  width: 900px;
  height: 300px;

  margin-top: 1em;
}

.CartItemContainer {
  display: block;
  /* justify-content: space-between; */

  height: 100%;
  position: relative;
  padding: 0.5em;
}

.CartItemColumn {
  display: inline-block;

  gap: 10px;
  height: 100%;
  position: relative;
}

.CartItemColumn.first {
  float: left;
}

.CartItemColumn.second {
  margin-left: 30px;
  float: left;
}

.CartItemColumn.third {
  margin-right: 20px;
  float: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CartCheckout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.CartTotalPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CartTotalPriceText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 75px;

  color: #000000;

  display: inline-block;
}

.CartTotalPriceText.first {
  margin-left: 20px;
}

.CartTotalPriceText.second {
  margin-right: 20px;
}

.CartCheckoutButton {
  cursor: pointer;

  color: #fff;
  background-color: #000000;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 75px;

  text-align: center;

  border-radius: 30px;

  height: 75px;
  width: 100%;
}

.CartCountControls {
  width: 100%;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  bottom: 30px;
  align-self: center;
}

.CartProductCount {
  display: inline-block;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;

  margin-left: 1.5em;
  margin-right: 1.5em;
}

.CartProductMinus, .CartProductPlus {
  display: inline-block;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  border-radius: 30px;
  height: 30px;
  width: 30px;

  color: white;
  background-color: #FFCE7F;
}

.CartItemText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CartProductName {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 21px;

  margin-bottom: 20px;

  color: #1C1C27;
}

.CartProductPrice {
  text-align: left;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;

  color: #AAAAAA;
}

.CartProductRemove {
  margin-top: 15px;
  text-align: right;
}

.CartProductTotalPrice {
  margin-bottom: 30px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  text-align: right;

  width: max-content;

  color: #1C1C27;
}